<?xml version="1.0"?>

<configuration>
<!--<system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>-->
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
        <services>
            <service
              name="Splash.Server.MasterServer"
              behaviorConfiguration="MasterServerServiceBehavior">
                <endpoint address=""
                          binding="wsHttpBinding"
                          bindingConfiguration="Binding1"
                          contract="Splash.RemoteServiceContract.IRemoteService" />
            </service>
        </services>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRegistry" />
                <binding name="Binding1"
                          bypassProxyOnLocal="false"
                          transactionFlow="false"
                          hostNameComparisonMode="StrongWildcard"
                          maxBufferPoolSize="524288"
                          maxReceivedMessageSize="2147483647"
                          messageEncoding="Text"
                          textEncoding="utf-8"
                          useDefaultWebProxy="true"
                          allowCookies="false">
                    <reliableSession ordered="true"
                                     inactivityTimeout="00:10:00"
                                     enabled="false" />

                </binding>

            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Registry" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRegistry" contract="RegistryServiceReference.IRegistry"
                name="WSHttpBinding_IRegistry" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MasterServerServiceBehavior">
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="wsHttpBinding" scheme="https" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>